@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    background-color: #ffd7eb;
    overflow: hidden;
}

.header {
    background-color: #ff71b8;
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 0;
}

.title {
    font-family: 'Jersey 15';
    font-size: 50px;
    color: #000;
    margin: 0 auto;
    flex-grow: 1;
    text-align: center; 
}

button {
    font-family: 'Jersey 15';
    font-size: 60px;
    padding: 25px 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.homeBtn {
    background-color: #fc5bab;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 20px;
    height: 15px;
    width: 15px;
    cursor: pointer;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeBtn:hover {
    background-color: #fe97cb;
}

.letter-background {
    width: 100%;
    height: 100%;
    background-image: url('./Image/LetterBg.png');
    background-size: cover;
    position: absolute;
    opacity: .70;
    top: 10px;
}

.music-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: pink;
    border: none;
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 9999;
}

@media (min-width: 1024px) {
    .letter-container {
        width: 80%;
        height: 500px;
        margin: 0 auto;
        margin-top: 50px;
        position: relative;
        box-shadow: 0 5px 8px rgba(78, 6, 6, 0.759);
        overflow-y: hidden;
    }
    .letter-background {
        width: 100%;
        height: 100%;
        background-image: url('./Image/LetterBg.png');
        background-size: cover;
        position: absolute;
        opacity: .70;
        top: 1px;
    }
    .letter-content {
        font-family: 'Caveat';
        font-size: 25px;
        position: relative;
        text-align: justify;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        overflow: none;
        background-color: none;
        padding: 30px 30px;
        margin-top: -10px;
        }
    .closing {
        font-size: 30px;
        text-align: end;
        font-weight: bold;
    }
}
@media (max-width: 1023px) {
    .letter-container {
        width: 80%;
        height: 500px;
        margin: 0 auto;
        margin-top: 50px;
        position: relative;
        box-shadow: 0 5px 8px rgba(78, 6, 6, 0.759);
        overflow-y: hidden;
    }
    .letter-background {
        width: 100%;
        height: 100%;
        background-image: url('./Image/LetterBg.png');
        background-size: cover;
        position: absolute;
        opacity: .70;
        top: 1px;
    }

    .letter-content {
    font-family: 'Caveat';
    font-size: 25px;
    position: relative;
    text-align: justify;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: none;
    padding: 30px 30px;
    scrollbar-width: none;
    }

    .closing {
        font-size: 27px;
        text-align: end;
        font-weight: bold;
    }
}